<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VitDBConnect.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="VitDBConnect.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <VitDBConnect.Properties.Settings1>
      <setting name="server" serializeAs="String">
        <value>192.168.0.4</value>
      </setting>
      <setting name="dbName" serializeAs="String">
        <value>db_docmanager</value>
      </setting>
      <setting name="login" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="pass" serializeAs="String">
        <value />
      </setting>
    </VitDBConnect.Properties.Settings1>
    <VitDBConnect.Settings1>
      <setting name="server" serializeAs="String">
        <value />
      </setting>
      <setting name="dbName" serializeAs="String">
        <value />
      </setting>
      <setting name="login" serializeAs="String">
        <value />
      </setting>
      <setting name="pass" serializeAs="String">
        <value />
      </setting>
    </VitDBConnect.Settings1>
  </userSettings>
</configuration>