<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VitSettings.Properties.FTPSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="VitSettings.Properties.ControlsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="VitSettings.Properties.GeneralsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VitSettings.Properties.DevSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="VitSettings.Properties.SettingsDev" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <VitSettings.Properties.FTPSettings>
      <setting name="host" serializeAs="String">
        <value />
      </setting>
      <setting name="port" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="login" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="timeout" serializeAs="String">
        <value>5000</value>
      </setting>
    </VitSettings.Properties.FTPSettings>
    <VitSettings.Properties.ControlsSettings>
      <setting name="flowLayoutPanelUserMenu" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="flowLayoutPanelAdminMenu" serializeAs="String">
        <value>True</value>
      </setting>
    </VitSettings.Properties.ControlsSettings>
    <VitSettings.Properties.GeneralsSettings>
      <setting name="programPath" serializeAs="String">
        <value />
      </setting>
      <setting name="repositiryPayh" serializeAs="String">
        <value />
      </setting>
      <setting name="repositoryRootFolderName" serializeAs="String">
        <value>r</value>
      </setting>
    </VitSettings.Properties.GeneralsSettings>
  </userSettings>
  <applicationSettings>
    <VitSettings.Properties.DevSettings>
      <setting name="screanShotsPath" serializeAs="String">
        <value>C:/screans/</value>
      </setting>
      <setting name="screanShotsEnable" serializeAs="String">
        <value>False</value>
      </setting>
    </VitSettings.Properties.DevSettings>
    <VitSettings.Properties.SettingsDev>
      <setting name="screanShotsPath" serializeAs="String">
        <value>C:/screans/</value>
      </setting>
      <setting name="screanShotsEnable" serializeAs="String">
        <value>True</value>
      </setting>
    </VitSettings.Properties.SettingsDev>
  </applicationSettings>
</configuration>